body{
  background-color: #DCDCCB;
}

body h1{
  color: black;
  text-align: center;
}

.loginform {
  width: 180px;
  margin-top: 5px
}

.signupform {
  width: 180px;
  margin-top: 5px
}

img.wheelie-machine{
  position: center;
  width: 500px;
  box-shadow: 5px 5px 5px 5px black;

}

.content-wrapper{
  width: 500px;
  margin: 0 auto;
}

.form-container{
  display: inline-block;
  width: 200px;
  margin-left: 42px;
  vertical-align: top;
}

.profile-info {
  display: inline-block;
  width: 190px;
  margin-left: 15px;
}

.gender-radio{
  margin: 5px auto;
}

.profile-pic img{
  width: 200px;
}

.profile-pic h2{
  margin-left: 33px;
}